
* {
  margin: 0;
}

.header {
  background-color: #1F2120;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.header h1,h2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: white;
  padding-left: 10px;
}

.header h1 {
  font-size: 50pt;
}

.articles-table {
  font-family: "Lucida Console", "Courier New", monospace;
  border-collapse:separate; 
  border-spacing: 0 0;
  display: table;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.articles-table td {
  border-bottom: 1px solid #ccc;
  text-align: left;
  font-size: 13pt;
}

.articles-table .info {
  width: 80%;
}

.articles-table .info .title {
  color: #333;
  float: left;
  margin-right: 8px;
  margin-left: 10px;
}

.articles-table .info .author {
  color: #999;
  float: left;
  margin-left: 10px;
}

.articles-table tr .date {
  color: #333;
}

tr {
  height: 60px;
}

tr:hover {
  background-color: #fafafa;
}

tr:hover .edit_hover_class a {
  visibility:visible;
}

.edit_hover_class a {
  visibility: hidden;
}
.edit_hover_class:hover a {
  visibility: visible;
}

img {
  max-width: 30px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: 30px;
}
